.wpjmc-companies {
    .container {
        max-width: calc(100% - (2 * 1rem));
        margin: 0 1rem;
    }

    @media only screen and (min-width: 768px) {
        .container {
            max-width: 80%;
            margin: 0 10%;
            padding: 0 60px;
        }
    }

    padding-left: 0;
    list-style: none;

    .company {
        &-inner {
            display: block;
            align-items: flex-start;

            @media (min-width: 576px) {
                display: flex;
            }
        }

        &-title {
            font-size: 1.25rem;
            line-height: 1.5;
            margin-top: 0;
            margin-bottom: 0.25rem;
        }

        &-logo {
            width: 3.125rem;
            height: 3.125rem;
            margin-right: 1.5rem;
            margin-bottom: 1rem;

            @media (min-width: 576px) {
                margin-bottom: 0;
            }

            &--image {
                max-width: 100%;
                height: auto;
                border-radius: 50%;
            }
        }

        &-body {
            flex: 1;
        }
    }
}