nav.mas-wpjmc-pagination {
    text-align: center;

    ul {
        display: inline-block;
        white-space: nowrap;
        padding: 0;
        clear: both;
        margin: 1px
    }

    li {
        padding: 0;
        margin: 0;
        float: left;
        display: inline;
        overflow: hidden;

        a,
        span {
            margin: 0;
            text-decoration: none;
            padding: 0;
            line-height: 1em;
            font-size: 1em;
            font-weight: 400;
            padding: .5em;
            min-width: 1em;
            display: block;
        }
    }
}